# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Go modules
vendor/

# Go build artifacts
*.a
*.o
*.cgo1.go
*.cgo2.c

# Test binary, build with `go test -c`
*.test

# IDE/editor specific files
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Dependency directories
Godeps/